####  1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

Answer:

In [2]:
years_list = [1994,1995,1996,1997,1998,1999]

In [15]:
print(years_list)

[1994, 1995, 1996, 1997, 1998, 1999]

#### 2.  In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

Answer

In [4]:
years_list[3]

1997

#### 3. In the years list, which year were you the oldest?

Answer

In [5]:
max(years_list)

1999

#### 4. Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;, &quot;salmonella&quot;.

Answer:

In [6]:
things = ["mozzarella", "cinderella", "salmonella"]

In [14]:
print(things)

['mozzarella', 'Cinderella', 'salmonella']

#### 5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

Answer:

In [7]:
things = ["mozzarella", "cinderella", "salmonella"]
things[1] = things[1].capitalize()
print(things)

['mozzarella', 'Cinderella', 'salmonella']

Modifying the element in the list does change it, and the updated list reflects the change.

#### 6. Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

Answer:

In [8]:
surprise =["Groucho","Chico","Harpo"]

In [13]:
print(surprise)

['Groucho', 'Chico', 'Oprah']

#### 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

Answer:

In [9]:
surprise = ["Groucho", "Chico", "Harpo"]
# Get the last element of the list

last_element = surprise[-1]

In [10]:
# Lowercase the last element
last_element = last_element.lower()
# Reverse the last element
last_element = last_element[::-1]
#Capitalize the last element
last_element = last_element.capitalize()
# Replace the last element in the list
surprise[-1] = last_element  
print(surprise)

['Groucho', 'Chico', 'Oprah']

#### 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

Answer:

In [11]:
e2f={
    "Dog":"Chien",
    "Cat":"Chat",
    "Walrus":"Morse"
}

In [12]:
print(e2f)

{'Dog': 'Chien', 'Cat': 'Chat', 'Walrus': 'Morse'}

#### 9. Write the French word for walrus in your three-word dictionary e2f.

Answer

In the e2f dictionary, the French word for "walrus" is "morse".

#### 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

Answer:

In [17]:
e2f={
    "Dog":"Chien",
    "Cat":"Chat",
    "Walrus":"Morse"
}

f2e = {value: key for key, value in e2f.items()}

print(f2e)

{'Chien': 'Dog', 'Chat': 'Cat', 'Morse': 'Walrus'}

#### 11. Print the English version of the French word chien using f2e.

Answer:

In [18]:
f2e["Chien"]

'Dog'

#### 12. Make and print a set of English words from the keys in e2f.

Answer:

In [19]:
e2f={
    "Dog":"Chien",
    "Cat":"Chat",
    "Walrus":"Morse"
}

english_words = set(e2f.keys())
print(english_words)

{'Cat', 'Walrus', 'Dog'}

#### 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;, and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and &#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39; Make all the other keys refer to empty dictionaries.

Answer:

In [20]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}

#### 14. Print the top-level keys of life.

Answer:

In [21]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

#### 15. Print the keys for life[&#39;animals&#39;].

Answer:

In [22]:
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

#### 16. Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

Answer:

In [25]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']